* {
  padding: 0;
  margin: 0;
}
.clr-fix {
  clear: both;
}
img {
  width: 100%;
}
/* Nav Section */
.nav {
  overflow: hidden;
}
.nav-container {
  color: aliceblue;
  width: 80%;
  margin: auto;
  padding-bottom: 15px;
}
.nav-container .nav-item {
  display: inline-block;
  vertical-align: bottom;
}
.nav-image img {
  width: 50%;
  margin-top: 10px;
}
.nav-list {
  margin-left: 400px;
}
.nav-list li {
  display: inline-block;
  padding-bottom: 15px;
}
.nav-list li a {
  text-decoration: none;
  color: white;
  margin-left: 10px;
  font-family: "Alegreya Sans";
}
/* End Nav Section */
/* Home Section */
.home {
  background-image: url(/images/drew-coffman-1872.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
}
.home-container {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
}
.home-item {
  color: azure;
  text-align: center;
  padding-top: 150px;
  width: 60%;
  margin: auto;
}
.home-item p {
  font-size: 22px;
  font-family: "Alegreya Sans", sans-serif;
  margin-bottom: 10px;
}
.home-item h1 {
  font-family: "Alegreya SC", serif;
  font-size: 76px;
  font-weight: 400;
}
.home-btns {
  margin-top: 50px;
  height: 100px;
}
.home-item .btn-1,
.home-item .btn-2 {
  padding: 15px 28px;
  color: azure;
  border-radius: 5px;
  margin-right: 15px;
  text-decoration: none;
  font-family: "Alegreya Sans", sans-serif;
}
.home-item .btn-1 {
  background-color: rgba(142, 119, 84, 1);
}
.home-item .btn-2 {
  background-color: rgba(142, 119, 84, 0);
  border: 2px solid;
}
.home-item .home-slider {
  width: 25px;
  height: 50px;
  border: 2px solid;
  border-radius: 35%;
  margin: auto;
}
.home-item .home-slider .slider-dot {
  width: 10px;
  height: 10px;
  border: 2px solid;
  margin: 15px auto 0 auto;
  border-radius: 50%;
}
/* end Home Section */

/* Start Who are we? Section */

.who-we-are-container {
  width: 90%;
  margin: auto;
  padding-top: 80px;
}
.who-item {
  display: inline-block;
}
.who-we-are-img {
  width: 45%;
}
.who-we-are-img img {
  width: 85%;
}
.who-we-are-content {
  width: 50%;
  vertical-align: top;
}
.who-we-are-content h2 {
  margin: 40px 0 30px 0;
  font-family: "Alegreya SC", serif;
  font-size: 30px;
}
.who-we-are-content ul {
  margin-top: 15px;
  list-style: none;
}
.who-we-are-content ul li {
  margin-top: 20px;
}
.who-we-are-content img {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  border: whitesmoke 2px solid;
  border-radius: 50%;
  margin-right: 15px;
}
/* End Who are we? Section */

/* Start Location Section */
.location {
  background-color: #f8f8f8;
}
.location-container {
  width: 80%;
  margin: auto;
  padding: 50px 0;
}
.loc-item {
  display: inline-block;
}
.location-content {
  width: 40%;
  padding-top: 60px;
  vertical-align: top;
}
.location-content p {
  margin-top: 20px;
  line-height: 1.86em;
}
.location-content h2 {
  color: rgb(48, 48, 48);
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  font-size: 32px;
}
.location-img {
  width: 50%;
  margin-left: 100px;
}
.location-img img {
  width: 100%;
}
/* End Location Section */
/* Start Baking Section */
.baking-container {
  width: 90%;
  margin: auto;
  text-align: center;
  padding: 100px 0;
}
.baking-container h3 {
  font-size: 32px;
  font-weight: 400;
}
.baking-container p {
  margin-top: 20px;
}
.baking-item {
  width: 30%;
  margin: auto;
  margin-top: 30px;
  margin-left: 30px;
  float: left;
}
.baking-item img {
  width: 100%;
}
.baking-item h4 {
  margin: 20px 0;
}
